Fill valid code/values in place of blanks.

In [12]:
# import required libraries
import pandas as pd
import numpy as np
import matplotlib_inline

In [3]:
scores = [29,27,14,23,29,10]

# find the mean of all items of the list 'scores'
np.mean(scores)

22.0

In [4]:
# find the median of all items of the list 'scores'
np.median(scores)

25.0

In [5]:
from statistics import mode

fruits = ['apple', 'grapes', 'orange', 'apple']

# find mode of the list 'fruits'
mode(fruits)

'apple'

In [7]:
from random import sample
data = sample(range(1,100),50) # generating a list 50 random integers

# find variance of data
np.var(data)

749.7904

In [8]:
# find standard deviation 
np.std(data)

27.382300852923226

### Please download the file "data_statistics.csv".

In [9]:
# read data_python.csv using pandas
mydata = pd.read_csv("data_statistics.csv")

In [10]:
# print first few rows of mydata
mydata.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [13]:
# plot histogram for 'Item_Outlet_Sales'
plt.____(mydata['Item_Outlet_Sales'])
plt.show()

SyntaxError: invalid syntax (4045769486.py, line 2)

In [ ]:
# increadse no. of bins to 20
plt.____(mydata['Item_Outlet_Sales'], bins=____)
plt.show()

In [ ]:
# find mean and median of 'Item_Weight'
np.____(mydata['Item_MRP']), np.____(mydata['Item_MRP'])

In [ ]:
# find mode of 'Outlet_Size'
mydata['Outlet_Size'].____

In [ ]:
# frequency table of 'Outlet_Type'
mydata['Outlet_Type'].____

In [81]:
# mean of 'Item_Outlet_Sales' for 'Supermarket Type2' outlet type
np.mean(mydata['Item_Outlet_Sales'][mydata['Outlet_Type'] == 'Supermarket Type2'])

In [82]:
# mean of 'Item_Outlet_Sales' for 'Supermarket Type3' outlet type
np.mean(mydata['Item_Outlet_Sales'][mydata['Outlet_Type'] == 'Supermarket Type3'])

In [ ]:
# 2 sample independent t-test 
from scipy import stats
stats.____(mydata['Item_Outlet_Sales'][mydata['Outlet_Type'] == 'Supermarket Type2'], mydata['Item_Outlet_Sales'][mydata['Outlet_Type'] == 'Supermarket Type3'])